<%- include ../partials/header.ejs%>
 <body>
 <%- include ../partials/main_nav.ejs%>

<!-- Content for the Add page -->

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%- title %> </h1>

            <form class="form" method="post">
                <div class="form-group">
                    <label for="oraganizationTextField">Organization</label>
                    <input type="text" class="form-control" id="organizationTextField" placeholder="Enter the Organization name" name="organization" required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="emailTextField" placeholder="Enter the email address" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="number" class="form-control" id="phoneTextField" placeholder="Enter the phone Number" name="phone" required>
                </div>

                <button class="btn btn-primary" type="submit" style="margin-top:10px ;">
                    <i class="fas fa-edit"></i> Add Contact
                </button>

                <a href="/book-list" class="btn btn-warning" style="margin-top:10px ;">
                     <i class="fas fa-undo"></i> Cancel</a>

            </form>

        </div>
    </div>
</div>


 <%- include ../partials/bottom_nav.ejs%>
  
 <%- include ../partials/footer.ejs%>