<!-- Ubaid Delawala - 301150030-->

<%- include ../partials/header.ejs%>
 <body>
 <%- include ../partials/main_nav.ejs%>
  
    <!-- Main Content-->
  <main class="container">
    <div class="row">
        <div>
            <h1>Business Contacts</h1> <br>

            <% if(typeof displayName == 'string' && displayName) { %>
            <a href="/book-list/add" class="btn btn-primary" style="margin-bottom:10px;" role="button">
            <i class="fas fa-plus-circle"></i> Add a Contact </a>
            <% } %>

            <table class="table table-bordered table-striped table-hover ">
                <tr class="table-dark">
                    <th class="text-center col-2">Organization</th>
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-4">Email</th>
                    <th class="text-center col-2">Phone</th>

                    <% if(typeof displayName == 'string' && displayName) { %>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                    <% } %>

                </tr> 
                
                <!-- Repeatable Template Row-->
                <% for(let count = 0; count < ContactList.length; count++) { %>
                    <tr class="table-light">
                        <td class="text-center col-2"><%= ContactList[count].organization %> </td>
                        <td class="text-center col-2"><%= ContactList[count].name %></td>
                        <td class="text-center col-4"><%= ContactList[count].email %></td>
                        <td class="text-center col-2"><%= ContactList[count].phone %></td>

                        <% if(typeof displayName == 'string' && displayName) { %>
                        <td class="text-center col-1">
                            <a href="/book-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Edit
                            </a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/book-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </td>
                        <% } %>
                    </tr>
                    
                    <% } %>
            </table>

        </div>


    </div>
    
    

  </main>

  <%- include ../partials/bottom_nav.ejs%>
  
  <%- include ../partials/footer.ejs%>