<%- include partials/header.ejs%>
 <body>
 <%- include partials/main_nav.ejs%>

    <!-- Main Content-->
  <main class="container">
    <h1>Welcome to the <%= page %> page</h1>

    <br>
    <h2>Background</h2>
    <div class="content">
      <figure class="figure">
        <img src="\Assets\images\ubaid.jpg" class="figure-img img-fluid rounded" alt="Headshot picture" style="width: 500px;">
        <figcaption class="figure-caption"><a href="/Assets/resume.pdf" class="resume">My Resume PDF</a></figcaption>
      </figure>
      My name is Ubaid Delawala and I am from Zambia. I graduated from high school in December 2019, 
      and I currently am enrolled in the Software Engineering Technology Programme at Centennial College. 
      I am currently residing in Toronto, ON.
      
    </div>  
    <br>

    <h2>Experience</h2>
    <p class="content">
      During this time in college, I have learned plenty of valuable skills and lessons; I am a passionate learner.
      I have experience in working in a team environment as well as few other skills mentioned below:<br>
      <ul>
        <li>Programming  (C#, Java)</li>
        <li>Client-side and Server-side Web Developing</li>
      </ul>

    </p>
    

  </main>


  <%- include partials/bottom_nav.ejs%>
  
  <%- include partials/footer.ejs%>