<%- include partials/header.ejs%>
<body>
 <%- include partials/main_nav.ejs%>
  
  <!-- Main Content-->
  <main class="container">
    <h1>Welcome to the <%= page %> page.</h1>
    
    

  </main>

  <%- include partials/bottom_nav.ejs%>
  
  <%- include partials/footer.ejs%>